@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  background-color: rgb(249, 249, 249);
  i-tabler {
    stroke-width: 1.5px;
  }
}

.topbar-dd {
  min-width: 360px !important;
}

.dark-theme {
  .topbar {
    .mat-mdc-icon-button {
      color: $dark-text-secondary !important;
    }

    .mdc-button {
      --mat-button-text-label-text-color: $dark-text-secondary !important;
    }
  }
}
