<div
  class="flex h-screen w-full items-center justify-center overflow-hidden p-2"
>
  <mat-card class="cardWithShadow overflow-hidden auth-card mx-auto mb-0">
    <div class="grid grid-cols-12 gap-6">
      <div class="lg:col-span-6 col-span-12 flex items-stretch">
        <div class="w-full p-10 flex flex-col justify-center aling-center">
          <div class="text-center">Crea tu cuenta</div>

          <form class="mt-8">
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">
              Nombre
            </mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">
              Correo electrónico
            </mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="email" />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">
              Contraseña
            </mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <a
              [routerLink]="['/']"
              mat-flat-button
              color="primary"
              class="w-full"
            >
              Registrarse
            </a>
          </form>

          <span class="block font-medium text-center mt-6">
            ¿Ya tienes una cuenta?
            <a
              [routerLink]="['/authentication/login']"
              class="no-underline text-primary font-medium text-sm"
            >
              Iniciar sesión
            </a>
          </span>
        </div>
      </div>

      <div
        class="lg:col-span-6 col-span-12 relative hidden lg:flex items-center justify-center bg-light p-5"
      >
        <img
          src="/assets/images/backgrounds/logo_login.jpeg"
          alt="logo-registro"
          class="max-h-[320px] max-w-[420px] w-auto object-contain"
        />
      </div>
    </div>
  </mat-card>
</div>
